// Mixins

@mixin body-font {
  font-family: 'Abril Fatface', cursive;
  font-family: 'Raleway', sans-serif;
}
@mixin heading-font {
  font-family: 'Abril Fatface', cursive;
font-family: 'Libre Baskerville', serif;
}
