// Mixins

@mixin body-font {
  font-family: 'ui-monospace', cursive;
  font-family: 'ui-monospace', serif;
  font-family: 'ui-monospace', sans-serif;
  font-family: 'ui-monospace', serif;
}
@mixin heading-font {
  font-family: 'ui-monospace', cursive;
  font-family: 'ui-monospace', serif;
  font-family: 'ui-monospace', sans-serif;
  font-family: 'ui-monospace', serif;
}
